img {
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

//home

#menu {
    position: fixed;
    width: 100vw;
    z-index: 999;

    .navbar {
        .navbar-nav {
            .nav-item {
                margin-right: 15px;
                margin-left: 15px;
            }
        }
    }
}

.banner {
    width: 100vw;
    height: 100vh;
    background: url(../image/world.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 375px) auto;
    margin-top: -82px px;
    position: relative;

    .fix-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
    }

    .fix-bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .noi-vong-tay {
            width: 100%;
            height: auto;
        }

    }
}

.content {
    .item {
        background: #fff;
        color: #666;
        box-shadow: 0 5px 15px;

        img {
            height: 150px;
            width: auto;
            margin-bottom: 30px;
        }
    }

    .sodan {
        .toiawase {
            button {
                cursor: pointer;
                background-color: #0a5790;
                color: #fff;
                border: 1px solid transparent;
                padding: 5px 25px;
            }
        }
    }

}

footer {
    border-top: #666 1px solid;
    border-bottom: #666 1px solid;
}

//kaishagaiyo

.banner-kaisha {
    width: 100vw;
    height: 70vh;
    background: url(../image/world.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

    align-items: center;
}

table {
    tr {

        td {
            border: none;
            text-align: left;
        }
    }
}

//aishatsu

.title-shacho {

    p {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 9%;
            background: black;
            height: 2px;

        }
    }
}

//contact
.content {
    .title {}

    form {
        input {
            width: 100%;
            padding: 5px;
        }

        textarea {
            width: 100%;
        }

        button {
            width: 100%;
            padding: 5px;
            background-color: #0a5790;
            color: #fff;
            border: 1px solid transparent;
        }
    }
}

.map {
    width: 100vw;

    iframe {
        width: 100%;
    }
}